__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo

# Виртуальное окружение
venv/
env/

# Файлы окружения
.env
.env.local

# Логи и временные файлы
*.log
*.tmp

# Автогенерируемые файлы (Alembic)
alembic.ini  # (если он содержит чувствительные данные, иначе можно оставить)

# IDE и системные файлы
.DS_Store
.idea/
.vscode/